/*----------mobile----------*/
.mobile-navigation {
    display: none;
}

.hamburger {
    width: 30px;
    height: 30px;
    color: black;
}

.out {
    width: 25px;
    height: 25px;
    color: black;
    margin-right: 20px;
}

@media (max-width: 700px) {

    .mobile-navigation {
        display: flex;
        align-items: center;
    }

    .mobile-navigation .hamburger {
        position: sticky;
        left: 90%;
        cursor: pointer;
    }

    .mobile-navigation .navbar {
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0%;
        width: 100%;
        background: rgba(255, 255, 255, 0.95);
        height: 130px;
        border: 1px solid rgb(100, 99, 99);
    }

    .mobile-navigation .sidebar-links {
        flex-direction: column;
        position: absolute;
        margin-left: 15px;
    }

    .mobile-navigation .sidebar-links img {
        margin-right: 20px;
    }

    .mobile-navigation .theme-selector {
        display: inline-flex;
        padding: 0;
        margin: 0;
    }

    .mobile-navigation p {
        display: inline;
    }

    .mobile-navigation.dark .navbar {
        background: rgba(82, 82, 82, 0.95);
        border: 1px solid rgb(224, 224, 224);
    }
    .mobile-navigation.dark .navbar .out {
        filter: invert(100%);
    }
}